*{
    background-color: rgb(10, 250, 10) ;
}
header{
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
}
header>h1{
    margin-top: 33px;
    font-weight: normal;
}

a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: red;
}
nav>ul{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    font-size: x-large;
    margin-top: 30px;
}

li:hover{
    cursor: pointer;
    color: red;
}
.big_img{
    width: 96%;
    justify-items: center;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 15px;
    margin-bottom: 99px;
}

nav{
    width: 54vw;
    margin-top: 10px;
}

header>h1{
    width: 23%;
}

.container{
    display: flex;
    text-align: center;
    margin-left: 40px;
    margin-right: 40px;
}

p{
    font-size: x-large;
    font-family:Cambria, Cochin;
    line-height: 1.5rem;
}

.ht{
    margin-right: 30px;
}

.cs{
    margin-right: 30px;
}
footer{
    text-align: center;
    font-size: X-large;
    margin-top: 30px;
    padding: 20px;
    background-color: black;
    color: white;
}

footer>a{
    text-decoration: none;
    color: rgb(236, 233, 233);
    background-color: black;
    
}
h1{
    font-weight: normal;
}